<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${title}</title>
    <base href="../"/>


    <script src="Scripts/jquery-2.2.0.min.js" type="text/javascript" charset="UTF-8"></script>
    <link rel="icon" href="/favicon.ico" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="Content/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="Content/css/bootstrap-theme.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Content/css/styles.css"/>

    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link rel="stylesheet" href="Content/css/jquery.smartmenus.bootstrap.css"/>
    <script src="Scripts/jquery.smartmenus.js"></script>
    <script src="Scripts/jquery.smartmenus.bootstrap.js"></script>
</head>
<body>

    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">    
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="page/0">Home</a></li>
                    <li><a href="page/1">Page 1</a></li>
                    <li><a href="page/2">Page 2</a></li>
                    <li><a href="page/3">Page 3</a></li>
                    <li><a href="page/4">Page 4</a></li>
                    <li><a href="page/5">Page 5</a></li>
                    <li id="page6li"><a href="page/6">Page 6</a></li>
                    <li id="page7li"><a href="page/7">Page 7</a></li>
                    <li id="page8li"><a href="page/8">Page 8</a></li>
                    <li id="page9li"><a href="page/9">Page 9</a></li>
                </ul>
                <div data-replace="search">

                </div>
            </div><!-- /.nav-collapse-->
        </div>
    </div>

    <div class="container">
        <div data-replace="body">
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
            </p>
        </div>
    </footer>
    <script data-replace="scripts"></script>
</body>
</html>
