<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${title}</title>
    <base href="../"/>


    <script src="Scripts/jquery-2.2.0.min.js" type="text/javascript" charset="UTF-8"></script>
    <link rel="icon" href="/favicon.ico" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="Content/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="Content/css/bootstrap-theme.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Content/css/styles.css"/>

    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link rel="stylesheet" href="Content/css/jquery.smartmenus.bootstrap.css"/>
    <script src="Scripts/jquery.smartmenus.js"></script>
    <script src="Scripts/jquery.smartmenus.bootstrap.js"></script>
</head>
<body>

    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">    
        <div data-replace="search">

        </div>
    </div>

    <div class="container">
        <div data-replace="body">
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
            </p>
        </div>
    </footer>
    <script data-replace="scripts"></script>
</body>
</html>
