<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net45" />
  <package id="FsPickler" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Suave" version="1.1.1" targetFramework="net45" />
  <package id="WebSharper" version="3.6.10.230" targetFramework="net45" />
  <package id="WebSharper.Owin" version="3.6.9.124" targetFramework="net45" />
  <package id="WebSharper.Suave" version="3.6.9.36" targetFramework="net45" />
  <package id="WebSharper.UI.Next" version="3.6.8.204" targetFramework="net45" />
</packages>