
@media (min-width: 1200px) {
    .container {
        width: 100% !important;
        padding-left: !important;
    }
}


@media (min-width: 768px) {
    .container {
        width: 100% !important;
        padding-left: 10px !important;
    }
   .col-sm-12 {
       padding: 0px !important;
   }
}

.divhidden {
    display: none;
}

.divshown {
    display: inherit;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.container .text-muted {
    margin: 20px 0;
}

h1 {
    color: #66A8E5;
    margin-left: 10px;
    margin-bottom:20px;
    font:600 27px/33px Helvetica, sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*navigation elements - horizontally*/
/*nav ul li{
    display:inline;    
}*/

.navbar-fixed-top {
    padding-top: 10px;    
}
nav ul li button {
     min-width:80px;
     margin : 5px 5px 0 0;
     /*background:none!important;*/
     background-color:inherit;
     border: 1px solid #e9f3f6;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     cursor: pointer;
}

nav ul li:hover button {    
    border: 1px solid #e1dcdc;
    color:blue;
} 

/*current page navigation element*/
.current-page-button {
   background:#e1dcdc;   
   border: 1px solid #e1dcdc;
}

.edit-post-input-area{
    min-width:100%;
    max-width:100%;
    height:400px;
    min-height:300px;
}

.post-header-block {
    background: #e1dcdc;    
    line-height: 1.1;
    box-sizing: border-box;
}
.post-title-text-block {
    font: 1.7em;
    font-size:30px;
    text-align:justify;
    color: #66A8E5;
}
    p .post-content-block
    {
        margin-left:50px;
    }
.ul-top-blog {
    margin-top: 60px;
}
.post-date-block {
    text-align: right;
}

/* popup window*/
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    padding : 20px;
    text-align:center;
}
.b-popup .b-popup-content{
    display:inline-block;
    margin:40px auto 0px auto;
    width:auto;    
    height: auto;
    max-width:70%;    
    max-height:60%;
    padding:20px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}


@media (min-width: 1200px) {
    .container {
        width: 100%;
        padding-left: 10px;
    }
    .ngscope {
        padding: 0px;
    }
}

.btnlogout {
    background: url("logoutbtn.jpg") no-repeat;
    width: 90px;
    height: 32px;
    margin-left: 5px;
}
.btnlogin {
    background: url("loginbtn.jpg") no-repeat;
    width: 90px;
    height: 32px;
}

.mainsearch {
    padding: 2px;
}

.mainsettingsbtn {
    padding: 2px;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
        padding-left: 10px;
    }
    .ngscope {
        padding: 0px;
    }
   .col-sm-12 {
       padding: 0px;
   }
}